<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit a Listing</h2>
            <form method="POST" action="/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">Title looks Good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short Description!</div>
                </div>
                <div class="mb-3">
                    Original Listing Image <br>
                    <img class="w-50" src="<%= originalImageUrl %>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload new Image</label>
                    <input type="file" name="listing[image.url]" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">Tags</label>
                    <select
                        id="tags"
                        name="listing[tags][]"
                        class="form-control"
                        multiple
                        required
                    >
                        <option value="trending" <%= listing.tags.includes("trending") ? "selected" : "" %>>Trending</option>
                        <option value="rooms" <%= listing.tags.includes("rooms") ? "selected" : "" %>>Rooms</option>
                        <option value="iconic cities" <%= listing.tags.includes("iconic cities") ? "selected" : "" %>>Iconic Cities</option>
                        <option value="mountains" <%= listing.tags.includes("mountains") ? "selected" : "" %>>Mountains</option>
                        <option value="castles" <%= listing.tags.includes("castles") ? "selected" : "" %>>Castles</option>
                        <option value="arctic" <%= listing.tags.includes("arctic") ? "selected" : "" %>>Arctic</option>
                        <option value="camping" <%= listing.tags.includes("camping") ? "selected" : "" %>>Camping</option>
                        <option value="woods" <%= listing.tags.includes("woods") ? "selected" : "" %>>Woods</option>
                        <option value="farms" <%= listing.tags.includes("farms") ? "selected" : "" %>>Farms</option>
                        <option value="domes" <%= listing.tags.includes("domes") ? "selected" : "" %>>Domes</option>
                        <option value="boats" <%= listing.tags.includes("boats") ? "selected" : "" %>>Boats</option>
                    </select>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]"  value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price should be Valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control"required>
                        <div class="invalid-feedback">Country name should be Valid!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Location should be Valid!</div>
                </div>
                <button class="btn btn-dark edit-btn my-3">Edit</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#tags').select2({
                placeholder: "Select tags", // Placeholder text
                allowClear: true, // Option to clear selections
            });
        });
    </script>

</body>